/*Master styles*/

body {
    font-family: "Quicksand",sans-serif;
    margin: 0px; /*to get images directly to side of page*/
    background-image: linear-gradient(to bottom right, #3B5998, pink);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.header{
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
    color:white;
    font-size: 2rem;
    padding-top: 2%;
}

.header p{
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em none; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/*Nav styles*/

/*Separating Home/About and Name*/

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 44px;
}

.left-side{
    display: flex;
}

/*Portfolio styles*/

.content-wrapper{
    padding:2%;
}

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper .subtitle{
    transition: 1s;
    font-weight: 600;
    color: transparent;
}
.img-text-wrapper:hover .subtitle{
    font-weight: 600;
    color: #0b7dda;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/*About Page*/

.profile-content-wrapper{
    text-align: center;
    padding: 2%;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
/* Set a specific color for each brand */

/* Github */
.fa-github {
    color: white;
}
  
  /* LinkedIn */
.fa-linkedin {
    color: white;
}
.btn {
    color:black;
    padding: 20px;
    font-size: 20px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    border: 5px solid;
    border-radius: 5%;
    border-color: #3B5998;
    background-color: white;
}
.btn:hover {background-color: #3B5998;}

footer {
    text-align: center;
}